
/* estilos página arte */


.encabezado .description{
    width: 50%;
    text-align: center;
    margin-top: 50px;
}

.ancho33{
    flex-basis: 33%;
}

.galeria{
    background-color: black;
}

.vikingos{
    background: url("../img/ragnar-cuervo.png") center / cover;
    min-height: 500px;
}
.vikingos:hover, .haikyuu:hover, .hitchcock:hover{
    filter: brightness(30%);
}
.haikyuu{
    background: url("../img/hinata-cuervo.png") center / cover;
    min-height: 500px;
}
.hitchcock{
    background: url("../img/Alfred-Hitchcock-Pajaros.jpg") center / cover;
    min-height: 500px;
}


/* secciones texto */

section{
    padding: 50px;
    background-color: aliceblue;
    text-align: center;
}
h2{
    font-family: 'Anton', sans-serif;
    font-size:2em;
    
}

h3{
    font-family: 'Anton', sans-serif;
    font-size:1.5em;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
section p{
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    margin-bottom: 20px;

}

section li{
    list-style-type: none;
}

.seccionhaikyuu{
    background-color: black;
    color: white;
}

.seccionvikingos img, .seccionhaikyuu img, .seccionhitchcock img{
    margin-top: 40px;
    width: 500px;

}



