

/* estilos pagina contacto */


.encabezado .h1Contacto {
    font-size: 7em;
}
.encabezado p{
    font-family: 'EB Garamond', serif; 
    font-size: 2.5em;
}

section{
    text-align: center;
   
  
}

form{
    width: 50%;
    padding: 30px 0;
}

h2{
    padding: 60px 0;
    font-size: 1.9em;
}

label{
    display: block;
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
}
input{
    width: 80%;
    padding: 20px 20px;
    border-radius: 20px;
    
}
.clausulaclick{
    display: line;
}

.clausulaclick a{
    color: black;
     
    font-family: 'EB Garamond', serif;  
    font-weight: 600;
    font-size: 1.6em;
    cursor: pointer;
    
}



textarea{
    width: 80%;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
}

.envio{
    margin: 30px 0;
    background-color: white;
    border: 1px black solid;
    font-size: 1.3em;
    font-family: 'Anton', sans-serif;
    border-radius: 20px;
}

.envio:hover{
  background-color: black;
  color: white;
  cursor: pointer;

}

/* añadir  adjunto  */

.adjuntar{
    border: 1px black solid;
    border-radius: 20px;
    width: 80%;
} 
