.info-foto{
    margin-bottom: 100px;
    margin-left: 150px;

}

h2{
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.experiencias h2{
 
    margin-top: 100px;
    margin-bottom: 100px;
}


h1{
    font-size: 10em;
}

 h3{
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 15px;
    
}

.curiosidades-foto{
    margin-bottom: 100px;
    margin-left: 150px;
}

.info-texto {
   margin-top: -60px;
}