.info-foto{
    margin-bottom: 100px;
    margin-left: 150px;

}

h2{
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1{
    font-size: 10em;
}

h3{
    font-size: 3em;
    margin-bottom: 15px;
    margin-top: 49px;
}

.curiosidades-foto{
    margin-bottom: 100px;
    margin-left: 150px;
}