

/* ----------------------------------------------- 

estilos para la página de animal favorito

------------------------------------------------- */
/* font-family: 'Anton', sans-serif;
 
font-family: 'EB Garamond', serif;    400/600/800

*/

*{
    box-sizing: border-box;
    margin: 0 auto;

}

header{
    background: url("../img/animal-favorito-el-cuervo-header.png") center center/cover;
    min-height: 75vh;
    color: white;
}

/* flex ---------------------- */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ancho30{
    flex-basis: 30%;
}

.ancho50{
    flex-basis: 50%
}
.ancho100{
    flex-basis: 100%
}

/* fin flex ---------------------- */

nav{
    padding: 20px 0px;
    margin: 0 40px;
    font-family: 'Anton', sans-serif;
}
nav div{
    text-align: right;
}
.logo{
    height: 50px;
}

.encabezado{
    display: flex;
    flex-direction: column;
}


h1{
    font-size: 2.5em;
}
.encabezado a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 50px;


    font-family: 'Anton', sans-serif;
}
.encabezado a:hover{
    border: 1px solid white ;
    border-radius: 25px;
    font-family: 'Anton', sans-serif;
}
 .menu{
    width: 50%;
    list-style-type: none;
}



/* footer */
.pie{
    background-color:black ;
    text-align: center;
    padding: 50px;
    color: white;
}


.pie p{
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;

}

.rrss{
    width: 200px;
    align-items: center;
}
.logosrrss{
    width: 30px;
    display: inline;
    justify-content:center;
    margin-bottom: 30px;
}